* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0e2c7;
    max-width: 1200px;
width: 70%;
margin: 0 auto;


    h1 {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }

    .align-center {
        text-align: center;
    }

    .margin-auto {
        margin: 0 auto;
    }

    hr {
        height: 2px;
        background-color: brown;
        border-color: brown;
    }

    .bottom-line {
        margin-top: 25px;
    }

    h1,
    h2 {
        font-family: Impact, serif;
    }
}